---
import Layout from "../layouts/Layout.astro";
---

<Layout title="YEPS">
  <main>
    <h1 class="text-gradient">ABOUT</h1>
    <ul class="author-list">
      <li>김윤정메롱메롱</li>
      <li>김윤정메롱메롱2</li>
      <li>박지현메롱</li>
      <li>이수빈</li>
      <li>유태양메롱</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .author-list {
    list-style: none;
  }

  .author-list li {
    margin: 0.5rem 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 40%;
    background-position: 0%;
  }
</style>
