---
import Layout from "../layouts/Layout.astro";
---

<Layout title="YEPS-ARCHIVE">
  <main>
    <main>⚒️</main>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100%;
  }
</style>
