---
import Layout from "../layouts/Layout.astro";
---

<Layout title="YEPS">
  <main>
    <h1 class="text-gradient">YEPS</h1>
    <ul class="menu-list">
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/archive">archive</a>
      </li>
      <li>
        <a href="/work">work</a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .menu-list {
    list-style: none;
  }

  .menu-list li {
    margin: 0.5rem 0;
  }

  .menu-list li a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
  }

  .menu-list li a:hover {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0%;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 40%;
    background-position: 0%;
  }
</style>
