---
import "@fontsource/michroma";
import Menu from "../components/Menu.jsx";
import MenuGoUpper from "../components/MenuGoUpper.jsx";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body id="root">
    <section class="layout-top">
      <div class="layout-top__container">
        <h1>YEPS</h1>
        <Menu client:only="react" />
      </div>
    </section>
    <slot />
    <section class="layout-bottom">
      <div class="layout-bottom__container">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="14"
            cy="14.0001"
            r="6.73837"
            stroke="black"
            stroke-width="1.5"
          ></circle>
          <path
            d="M27.25 13.9999C27.25 14.2233 27.0974 14.5843 26.4637 15.0372C25.8485 15.4769 24.9099 15.9038 23.6825 16.2749C21.2371 17.0142 17.8136 17.4825 14 17.4825C10.1864 17.4825 6.76295 17.0142 4.31755 16.2749C3.09013 15.9038 2.15147 15.4769 1.53632 15.0372C0.902649 14.5843 0.75 14.2233 0.75 13.9999C0.75 13.7765 0.902649 13.4155 1.53632 12.9625C2.15147 12.5229 3.09013 12.096 4.31755 11.7249C6.76295 10.9856 10.1864 10.5173 14 10.5173C17.8136 10.5173 21.2371 10.9856 23.6825 11.7249C24.9099 12.096 25.8485 12.5229 26.4637 12.9625C27.0974 13.4155 27.25 13.7765 27.25 13.9999Z"
            stroke="black"
            stroke-width="1.5"
          ></path>
          <circle
            cx="14"
            cy="14"
            r="13.25"
            stroke="black"
            stroke-width="1.5"
          ></circle>
        </svg>
        <MenuGoUpper client:only="react" />
      </div>
    </section>
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    --font-size: 20px;
  }
  html {
    font-family: michroma, sans-serif;
    height: 100vh;
  }

  html::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }

  body {
    padding: 10% 2% 0 2%;
    height: 100%;
    font-size: var(--font-size);
    font-weight: 400;
  }

  /* mobile layout */
  @media screen and (max-width: 768px) {
    .layout-top {
      position: fixed;
      top: 0;
      width: 100%;
      height: 10%;
      background-color: #ffffff;
    }

    .layout-top__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .layout-top__container h1 {
      margin-left: 1rem;
    }

    .layout-top__container svg {
      margin-right: 3rem;
      width: 2rem;
    }

    .layout-bottom {
      width: 100%;
      height: 10%;
    }

    .layout-bottom__container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  /* other device layout */

  @media screen and (min-width: 768px) {
    body {
      margin: 0 auto;
      max-width: 768px;
    }
  }
</style>
